<!DOCTYPE html>
<html lang="en" class="no-js">
   <head>
      <meta charset="UTF-8" />
      <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
      <title>Login and Registration Form with HTML5 and CSS3</title>
   </head>
   <body>
      {% if messages %} 
      {% for m in messages %}
      <div class="alert alert-{{m.tags}}" style="margin-top:20px;">{{ m }}</div>
      {% endfor %}
      {% endif %}
      <h2 style="text-align: center; color: blue">Welcome to My Web Site</h2>
   </body>
</html>